* {
  margin: 0;
  padding: 0;
}

.container {
  text-align: center;
  display: grid;
  height: 100vh;
  --row-1: 5rem;
  --row-2: 2.5rem;
  --row-3: 5fr;
  --row-4: 2rem;
  --column-1: 1fr;
  --column-2: 4fr;

  grid-template: 
    var(--row-1) var(--row-2) var(--row-3) var(--row-4)
     / var(--column-1) var(--column-2);

  grid-template-areas: 
    "hhh hhh"
    "sss nnn"
    "sss aaa"
    "fff fff"
  ;
  gap: 4px;

}

.container div {
  padding: 15px;
  font-size: 32px;
  font-family: Helvetica;
  font-weight: bold;
  color: white;
}

.container .header {
  background-color: #393f4d;
  grid-area: hhh;
  padding: 0px;
  gap: 0;
  display: grid;
  --row-1: 1fr;
  --column-1: 1fr;
  --column-2: 2fr;
  --column-3: 2fr;

  grid-template-columns:  var(--column-1) var(--column-2) var(--column-3);

  grid-template-areas: 
    "logo . menu"
  ;
  align-items: center;
}

.logo{
  grid-area: logo;
  justify-self: left;
}

.menu{
  grid-area: menu;
  
}

.menu > ul{
  display: grid;
  --row-1: 1fr;
  --column-1: 1fr;
  --column-2: 1fr;
  --column-3: 1fr;

  grid-template-columns: repeat(4, 1fr);
  justify-items: left;
}

.menu ul,
.menu li {
  list-style: none;
  font-size: 16px;
  
}

.container .sidebar {
  background-color: #C50208;
  grid-area: sss;
  display: grid;
  gap: 50px;
}

.sidebar .photo {
  background-color: white;
  color: black;
  font-size: 12px;
  font-weight: normal;
  border-radius: 10px;
}


.sidebar .side-content {
  background-color: white;
  color: black;
  font-size: 16px;
  font-weight: normal;
}

.side-content,
.photo {
  display: grid;
  align-items: center;
}

.container > .nav {
  background-color: #C50208;
  grid-area: nnn;
  padding: 0;
}


.nav > ul{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  justify-items: center;
  align-items: center;
  list-style: none;
  padding: 0;
  gap: 0;
  height: 100%;
}

.nav ul li {
  font-size: 16px;
  text-transform: uppercase;
}

.article {
  background-color: #bccbde;
  grid-area: aaa;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-auto-rows: 200px;
  gap: 15px;
}

.article p {
  font-size: 18px;
  font-family: sans-serif;
  color: white;
  text-align: left;
}

.article .card {
  background-color: #FFFFFF;
  color: black;
  text-align: center;
}

.card p {
  color: black;
  font-weight: normal;
  font-size: 14px;
}

.card .title {
  font-size: 18px;
  text-align: center;
}

.footer {
  background-color: #393f4d;
  grid-area: fff;
}

.footer p {
  font-size: 13px;
  font-weight: normal;
}